body {
  background: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: arial, sans-serif;
}

.container {
  max-width: 900px;
  max-height: 800px;
  margin: 40px auto;
  padding: 30px 30px 10px;
  background: radial-gradient(
    827px at 47.3% 48%,
    rgb(255, 255, 255) 0%,
    rgb(138, 192, 216) 90%
  );
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.search-form {
  margin-bottom: 15px;
}

.city {
  margin-top: 15px;
  font-size: 40px;
}

#currentDate {
  margin: 0 auto;
  font-size: 20px;
  color: #77757e;
}

.weather-description {
  margin-top: 5px;
  font-size: 20px;
  text-transform: capitalize;
  color: #77757e;
}

.weather_info {
  margin-top: 20px;
}

.weather-icon {
  height: 80px;
  margin-right: 5px;
  margin-bottom: 30px;
}

.temperature {
  font-size: 55px;
}

.units {
  position: relative;
  top: -25px;
  text-decoration: none;
}

.weather_info .active {
  color: black;
  cursor: default;
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 20px;
  color: #77757e;
}

.forecast {
  text-align: center;
  margin: 40px auto 20px;

  border: #b7dbff;
  padding: 0;
  margin-right: 10px;
}

.next-day {
  font-size: 20px;
}

.next-days-date,
.next-days-weather-range {
  font-size: 15px;
}

.next-days-emoji {
  font-size: 35px;
}

.next-days-min-temp {
  color: #77757e;
}

footer {
  text-align: right;
  font-family: monospace;
  margin: 30px auto 10px;
  padding-right: 20px;
}
